body {
	padding-top: 220px;
	padding-bottom: 30px;
}

pre {
	white-space: pre;
	float: left;
}

.navbar-header .breadcrumb {
	padding-bottom: 8px; 
	margin-bottom: 0px; 
	margin-top: 8px; 
	background-color: #F8F8F8;	
}

.navbar-header .breadcrumb li {
	margin-left: -10px;
}

.rounded-right {
	border-radius: 0 14px 14px 0;
}

.rounded-left {
	border-radius: 14px 0 0 14px;
}

.fa-4 {
	font-size: 4em;
}

.nofloat {
	float: none;
}

.dataTables_filter .form-control {
	width: 16em;
}

td {
	white-space: nowrap;
}

.command-fixed-top {
    position: fixed;
	top: 51px;
    padding-top: 20px;
	left: 0;
    right: 0;
    z-index: 1030;
    width: 100%;
    background-color: white;
}

.no-options {
	margin-top: -50px;
}

table {
	border-collapse: inherit;
}

div#resultsTableParent > table#resultsTable {
	margin-top: 40px;
}

div.dataTables_info {
	float: left;
	color: #888;
}

div.dts div.dataTables_scrollBody {
	background: white;
}

.table-condensed > tbody > tr > td.dt-body-right, .table-condensed > thead > tr > td.dt-body-right {
	text-align: right;
	padding-right: 25px;
}