<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>LogNavigator</display-name>

	<!-- Spring Root Configuration -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:lognavigator-context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spring Default Profile-->
	<context-param>
		<param-name>spring.profiles.default</param-name>
		<param-value>security-disabled</param-value>
	</context-param>

	<!-- Spring MVC Servlet -->
	<servlet>
		<servlet-name>lognavigator</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:lognavigator-mvc-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Spring MVC Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>lognavigator</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Spring Security Filter -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<servlet-name>lognavigator</servlet-name>
	</filter-mapping>

</web-app>